<div class="subscription__box">
    <div class="sub__box">
        <p class="subscription__box__text">
            Subscription is <span class="bold__text"> ON</span>
        </p>
        <p class="subscription__box__text">
            Your status is <span class="bold__text"> Seller</span>
        </p>
        <div class="subscription__buttons">
            <button class="edit__pay">
                <a href="/payments" class="edit_sub">Edit subscription</a>
            </button>
            <button class="load__file">
                <a href="/upload-file" class="edit_sub">Load new file</a>
            </button>
        </div>
    </div>
</div>
<div class="account__info__box">
    <div class="email__box">
        <div class="box__text__change">
            <p class="text__inbox__field">Change your email</p>
            <input type="text" class="email__field" name="email" placeholder="Your email...">
        </div>
    </div>
    <div class="password__box">
        <div class="box__text__change">
            <p class="text__inbox__field">Password</p>
            <input type="text" class="password__field" name="password" placeholder="Your password...">
        </div>
    </div>
</div>
<div class="save__green__button">
    <button class="save__button">
        <a href="/account" class="edit_sub">SAVE</a>
    </button>
</div>