<footer>
        <div class="footer-container">
            <div class="logo">
                <img src="/static/img/logo.svg" alt="logo">
            </div>
            <div class="menu">
                <ul class="menu__points">
                    <li class="point">
                        <a href="/about-us" class="menu__point">О нас</a>
                    </li>
                    <li class="point">
                        <a href="#top" class="menu__point">Наверх</a>
                    </li>
                </ul>
            </div>
        </div>
</footer>