<header>
        <div class="header-container">
            <div class="logo">
                <a href="/" class="icon__link">
                    <img src="/static/img/logo.svg" alt="logo">
                </a>
            </div>
            <div class="menu">
                <ul class="menu__points">
                    <li class="point">
                        <a href="#about_us" class="menu__point">О нас</a>
                    </li>
                    <li class="point">
                        <a href="/" class="menu__point">Возможности</a>
                    </li>
                    <li class="point">
                        <a href="#tariffs" class="menu__point">Тарифы</a>
                    </li>
                    <div class="icon">
                        <a href="/account" class="icon__link">
                            <img class="account-icon" src="/static/img/user_icon.svg" width="48" height="40" alt="icon_account">
                        </a>
                    </div>
                </ul>
            </div>
        </div>
</header>