<div class="payments__cards">
    <ul class="tariffs__cards">
        <li class="one__card">
            <h1 class="tariff_text">
                Free Trial
            </h1>
            <p class="price__text">
                0.00$/mo
            </p>
            <div class="line-2"></div>
            <ul class="features">
                <li class="features__point">
                    <span class="features__text">
                        Base Features
                    </span>
                </li>
                <li class="features__point">
                    <span class="features__text">
                        Base Features
                    </span>
                </li>
                <li class="features__point">
                    <span class="features__text">
                        Base Features
                    </span>
                </li>
            </ul>
        </li>
        <li class="one__card">
            <h1 class="tariff_text">
                Quick Start
            </h1>
            <p class="price__text">
                4.99$/mo
            </p>
            <div class="line-2"></div>
            <ul class="features">
                <li class="features__point">
                    <span class="features__text">
                        Base Features
                    </span>
                </li>
                <li class="features__point">
                    <span class="features__text">
                        Base Features
                    </span>
                </li>
                <li class="features__point">
                    <span class="features__text">
                        Base Features
                    </span>
                </li>
            </ul>
        </li>
        <li class="one__card">
            <h1 class="tariff_text">
                Sales Expert
            </h1>
            <p class="price__text">
                11.99$/mo
            </p>
            <div class="line-2"></div>
            <ul class="features">
                <li class="features__point">
                    <span class="features__text">
                        Base Features
                    </span>
                </li>
                <li class="features__point">
                    <span class="features__text">
                        Base Features
                    </span>
                </li>
                <li class="features__point">
                    <span class="features__text">
                        Base Features
                    </span>
                </li>
            </ul>
        </li>
    </ul>
    <div class="buttons">
        <button class="pay">
            <a href="/pay" class="pay__text">PAY</a>
        </button>
        <button class="cancel">
            <a href="/cancel-subscription" class="cancel__text">CANCEL</a>
        </button>
    </div>
</div>