<div class="upload__box">
    <span class="upload__title">
        Load your file for analytics
    </span>
    <div class="parameters__check">
        <div class="checkboxes">
            <input type="checkbox" class="checkbox_" name="send_email">
            <label for="send_email" class="checkbox__text">send ready file to email</label>
        </div>
        <div class="checkboxes">
            <input type="checkbox" class="checkbox_" name="abc">
            <label for="send_email" class="checkbox__text">use ABC method</label>
        </div>
        <div class="checkboxes">
            <input type="checkbox" class="checkbox_" name="xyz">
            <label for="send_email" class="checkbox__text">use XYZ method</label>
        </div>
    </div>
    <div class="drop__file__box">
        <img src="" alt="" class="upload__icon">
        <span class="upload__file__text">
            Drag and drop here or browse
        </span>
    </div>
    <button class="send__file">
        <a href="/send-file" class="link__for__sending">SEND FILE</a>
    </button>
</div>