<header>
        <div class="px-3 py-2 text-bg-dark">
          <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
              <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                <img src="/static/img/brand.png" width="32" height="32">
              </a>

              <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                <li>
                  <a href="#" class="nav-link text-secondary">
                    Home
                  </a>
                </li>
                <li>
                  <a href="#" class="nav-link text-white">
                    Dashboard
                  </a>
                </li>
                <li>
                  <a href="#" class="nav-link text-white">
                Orders
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                Products
              </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                <button type="button" class="btn btn-light">Login</button>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                <button type="button" class="btn btn-primary">Sign-up</button>
                </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
</header>