{% extends "base.html" %}

{% block content %}
<section class="intro">
    <div class="wrapper">
        <h1 class="intro__title">
            We make your sales easier
        </h1>
        <p class="intro__subtitle">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam id nisi eget nisl ornare placerat. Vestibulum rutrum neque vel elementum dictum. Nunc vitae nisl ac urna convallis porta. Praesent eu gravida sapien. Aliquam vitae odio pretium, viverra justo vitae, ultrices tortor. Cras euismod massa justo, sit amet auctor tellus consectetur nec. Aenean mollis libero nec quam laoreet porta. Proin vehicula lacus ac efficitur tempor. Aliquam et tortor sit amet mi euismod laoreet. Cras elementum fringilla congue.
    </div>
    <div class="intro__diagrams">
        <img src="/static/img/diagrams.svg" alt="diagrams_image">
    </div>
</section>
<div class="line"></div>
<section class="cards">
<a name="tariffs">
    <ul class="tariffs__cards">
        <li class="one__card">
            <h1 class="tariff_text">
                Free Trial
            </h1>
            <p class="price__text">
                0.00$/mo
            </p>
            <div class="line-2"></div>
            <ul class="features">
                <li class="features__point">
                    <span class="features__text">
                        Base Features
                    </span>
                </li>
                <li class="features__point">
                    <span class="features__text">
                        Base Features
                    </span>
                </li>
                <li class="features__point">
                    <span class="features__text">
                        Base Features
                    </span>
                </li>
            </ul>
            <div class="trial__button">
                <button class="trial__start">
                    <span class="trial__text">START TRIAL</span>
                </button>
            </div>
        </li>
        <li class="one__card">
            <h1 class="tariff_text">
                Quick Start
            </h1>
            <p class="price__text">
                4.99$/mo
            </p>
            <div class="line-2"></div>
            <ul class="features">
                <li class="features__point">
                    <span class="features__text">
                        Base Features
                    </span>
                </li>
                <li class="features__point">
                    <span class="features__text">
                        Base Features
                    </span>
                </li>
                <li class="features__point">
                    <span class="features__text">
                        Base Features
                    </span>
                </li>
            </ul>
            <div class="trial__button">
                <button class="trial__start">
                    <span class="trial__text">START TRIAL</span>
                </button>
            </div>
        </li>
        <li class="one__card">
            <h1 class="tariff_text">
                Sales Expert
            </h1>
            <p class="price__text">
                11.99$/mo
            </p>
            <div class="line-2"></div>
            <ul class="features">
                <li class="features__point">
                    <span class="features__text">
                        Base Features
                    </span>
                </li>
                <li class="features__point">
                    <span class="features__text">
                        Base Features
                    </span>
                </li>
                <li class="features__point">
                    <span class="features__text">
                        Base Features
                    </span>
                </li>
            </ul>
            <div class="trial__button">
                <button class="trial__start">
                    <span class="trial__text">START TRIAL</span>
                </button>
            </div>
        </li>
    </ul>
</section>
{% endblock %}